body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}

img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  margin: 10px 0;
 
}

a {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: #007bff;
}
